/* general */
body{
    background-color: #181818;
}
/* navbar */
.navbar-custom {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
}

.navbar-custom a{
    color: #fefced;
    font-size: 20px;
}

.navbar-custom a:hover{
    color: #9b9b99;
}

.navbar-custom a.active{
    color: #9b9b99;
}

.navbar-custom a:focus{
    color: #646464;
}
.nav-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav-logout-username{
    color: white
}

/* home */
.home-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* post card */

.post-card{
    width: 45vw;
    background-color: #2e2e2e;
    color: white;
    border-radius: 30px;
}

.post-card .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card .img-container img{
    width: 60%;
    border-radius: 40px;
    padding: 30px;
}

.text-container{
    padding: 10px;
}

.text-container .post-description{
    font-size: 20px;
    font-weight: normal;
}

.read-more-container a{
    color: #6AC5C3;
    font-size: 18px;
}

.read-more-container a:hover{
    color: #488584;
}

/* posts-index */
.posts-index-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-card{
    margin: 30px 0px;
}

.post-actions-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.methods-post-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.methods-post-container a{
    margin-right: 20px;
}

/* posts show */
.posts-show-container{
    margin-top: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.posts-show-container img{
    width: 500px;
    margin: 50px 0px;
}

/* Post form */

.post-form-container{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-form{
    margin: 30px 0px;
    width: 80%;
}

.post-form label{
    color: white;
    margin-top: 20px;

}


.post-form input, 
.post-form textarea,
.post-form select{
    margin-top: 10px;
    background-color: #2e2e2e;
    color: white;
}

.post-form input::placeholder,
.post-form textarea::placeholder{
    color: white;
    opacity: 1; /* Firefox */
}

.post-form select{
    margin-bottom: 30px;
}

.post-form input:focus,
.post-form textarea:focus{
    background-color: #2e2e2e;
    color: white;
}


/* edit user */

.user-form-container{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-form{
    margin: 30px 0px;
    width: 80%;
}
.user-form label{
    color: white;
    margin-top: 5px;
}
.user-form label:not(.form-check-label){
    margin-top: 20px;
}

.user-form input{
    margin-top: 10px;
    background-color: #2e2e2e;
    color: white !important;
}

.user-form input::placeholder,
.user-form textarea::placeholder{
    color: white;
    opacity: 1; /* Firefox */
}

.user-form input:focus,
.user-form textarea:focus{
    background-color: #2e2e2e;
    color: white;
}

/* Dashboard */

.dashboard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-dashboard{
    background-color: red;

}
.users-action-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.users-action-container a{
    margin-right: 10px;
}

.table-dashboard{
    background-color: #2e2e2e;
    color: white;
    width: 80%;
}

.categories-action-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-action-container a{
    margin-right: 10px;
}

.category-form-container{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-form{
    margin: 30px 0px;
    width: 80%;
}

.category-form label{
    color: white;
    margin-top: 20px;

}

.category-form input{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #2e2e2e;
    color: white;
}

.category-form input::placeholder{
    color: white;
    opacity: 1; /* Firefox */
}

.category-form input:focus{
    background-color: #2e2e2e;
    color: white;
}

